header {
    display: flex;
    justify-content: center;
    width: 30vw;
    margin: auto;
    border-radius: 20%;
    border-style: double;
    border-width: .5em;
    background: rgba(255,228,196, 0.85);
}

img {
    width: 10%;
    height: 25%;
    margin: auto;
}