header {
    display: flex;
    justify-content: center;
    background-color: bisque;
    width: 30vw;
    margin: auto;
    border-radius: 20%;
    border-style: double;
    border-width: .5em;
    opacity: 85%;
}

img {
    width: 10%;
    height: 25%;
    margin: auto;
}