<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between">
        <ul class="navbar-nav">
            <li class="navbar-item mx-2">
                <a class="nav-link" routerLink="">
                    <img src="../../../assets/pokeball.png" alt="pokeball" height="40" >
                </a>
            </li> 
            <li class="navbar-item">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" routerLink="pokedex">Pokedex</a>
            </li>
        </ul>
    </div>
</nav>

<!-- This bootstrap navbar was ripped almost directly from the bootstrap website... which is the point-->
<!-- NOTE: routerLink is what lets us change the URL when the user clicks the anchor tag -->