<app-new-component></app-new-component>
<!-- Above, we use the SELECTOR of our new component to STATICALLY display on the webpage -->
<!-- This is the less dynamic way to display components. It will never move or disappear-->

<p>We can also write HTML within the app.component.html, it's just not common</p>

<!-- This is what makes a call to the Routes Array in app-routing.module.ts -->
<!-- This and the Routes array are how we achieve dynamic component display. -->
<router-outlet></router-outlet>