<div class="container-fluid">

    <!-- Input box to search for pokemon -->
    <div class="row m-3">
        <h4>Search for your Pokemon:</h4>
        <!-- [(Two way binding!!)] this input field will take user input and fill a variable in our TS-->
        <input type="number" class="col-lg-3" [(ngModel)] = "input">
        <button class="btn btn-dark col-lg-1" (click)="getPoke()">Catch</button>
    </div>

    <!-- Table to display pokemon data -->
    <table class="table table-striped table-hover">
        <thead>
            <th class="col-sm-1">Name</th>
            <th class="col-sm-1">Type</th>
            <th>Sprite</th>
        </thead>

        <tbody>
            <td>{{pokemon.name}}</td>
            <td>{{pokemon.types[0].type.name}}
                <span *ngIf="pokemon.types[1]">
                    {{pokemon.types[1].type.name}}
                </span>
            </td>
            <td><img src="{{pokemon.sprites.front_default}}" alt="pokemon picture"></td>
        </tbody>

    </table>

</div>