<div class="grid-container" >

    <!-- Property Binding! Taking data from the TS, and changing an HTML attribute -->
    <!-- *ngFor is a structural directive that renders HTML for every object in an Array -->
    <div *ngFor="let todo of todosArray" class="todo-card" [hidden]="hiddenToggle">

        <!-- String Interpolation!! Taking data from the TS, rending it on the HTML-->
        <h2>Todo #{{todo.id}}</h2>
        <p>Task: {{todo.task}}</p>
        <p>Status: {{todo.status}}</p>

        <label for="updateBox{{todo.id}}">Update Task</label>
        <input id="updateBox{{todo.id}}" [(ngModel)]="todo.task" type="text">
        
        <button class="button" (click)="completeTask(todo.id)">Task Completed</button>
    </div>

</div>

<div>
    <!-- Event Binding!! Like an event listener, it binds a user action to a TS function -->
    <button class="button" (click)="showTodoList()">Show Tasks</button>
</div>