<div class="nameDiv" [hidden]="nameDivToggle">
    <label for="myName">What's your name?</label>
    <!-- Two way binding for the user to insert and save their name -->
    <input type="text" id="myName" [(ngModel)]="name">
    <button class="button" (click)="submitName()">Submit Name!</button>
</div>

<!-- This is an *ngIf! A structural directive. IF the value evaluates to true, the element renders -->
<h2 *ngIf="name">Welcome, {{name}}</h2>

<div class="grid-container" >

    <!-- Property Binding! Taking data from the TS, and changing an HTML attribute -->
    <!-- *ngFor is a structural directive that renders HTML for every object in an Array -->
    <div *ngFor="let todo of todosArray" class="todo-card" [hidden]="hiddenToggle">

        <!-- String Interpolation!! Taking data from the TS, rending it on the HTML-->
        <h2>Todo #{{todo.id}}</h2>
        <p>Task: {{todo.task}}</p>
        <p>Status: {{todo.status}}</p>

        <label for="updateBox{{todo.id}}">Update Task</label>
        <input id="updateBox{{todo.id}}" [(ngModel)]="todo.task" type="text">
        
        <button class="button" (click)="completeTask(todo.id)">Task Completed</button>
    </div>

</div>

<div>
    <!-- Event Binding!! Like an event listener, it binds a user action to a TS function -->
    <button class="button" (click)="showTodoList()">Show Tasks</button>
</div>