.grid-container{
    display: flex;
    position: relative;
    gap: 10%;
    margin: 5%;
}

.todo-card{
    text-align: center;
    border-style: double;
    border-radius: 10%;
    border-width: .5em;
    background: rgba(255,228,196, 0.5);
    width: 10em;
    backdrop-filter: blur(20px);
}

.button{
    background: rgba(255,228,196, .90);
    border-radius: 25%;
}

input{
    width: 65%;
}